<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Biblioteca Virtual</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" text-light href="#">Livros</a>
      <a class="nav-item nav-link" text-light
        [routerLink]="['autores']">Autores</a>
      <a class="nav-item nav-link" text-light
        [routerLink]="['assuntos']">Assuntos</a>
      <a class="nav-item nav-link" text-light
        [routerLink]="['relatorios/autor']">Relatórios</a>
    </div>
  </div>
</nav>