.listing {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 5px;
  }
  .listing-heading {
    color: var(--primary-color);
    padding: 10px 0px 0 0px;
    font-size:15px;
    text-align: center;
  }
  .listing-photo {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
  }
  .listing-location {
    padding: 10px 20px 20px 20px;
  }

  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.listing a::after {
    content: "\203A";
    margin-left: 5px;
  }

  .linkCadastro{
    text-align: center;
    padding-left: 20px;
  }

  .btn-livro{
    padding-left: 20px;
  }